@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Geo:ital@0;1&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');


.Navigate{
display: flex;
flex-direction: row;
align-items: center;
}
.Community{
    font-family:"Inter Tight", "Inter Tight Placeholder", sans-serif;
    font-weight: 300;
    margin-right: 12px;
    border: 1px solid rgb(45, 44, 44);
    border-radius: 10px;
    opacity: 1;
    padding: 10px;
    padding-inline: 20px;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease, color 0.3s ease;
}
.Events {
    font-family:"Inter Tight", "Inter Tight Placeholder", sans-serif;
    display: flex;
    flex:1;
    margin-left: 12px;
    font-weight: 300;
    border: 1px solid rgb(35, 35, 35);
    border-radius: 10px;
    opacity: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-inline: 15px;
    cursor: pointer;
    background-color: white;
    color:black;
    transition: transform 0.3s ease, color 0.3s ease;
}

.Community::after, .Events::after {
    content: "";
    position: absolute;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.Community:hover {
    background: linear-gradient(to right,#1cd037, #1e90ff); /* Multiple colors */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transform: translateY(-5px); 
}


.Events:hover {
    transform: translateY(-5px); 
}

.Events svg {
    margin-left: 8px;
    transition: transform 0.3s ease;
}

.Events:hover svg {
    transform: rotate(45deg); 
}

